#brief > div {
  display: inline-block;
  vertical-align: middle;
  // @include showBorder;
  &.left {
    text-align: left;
    width: $left-width;
    & > h3 {
      padding-bottom: 15px;
      padding-top: 10px;
    }
    & > ul > li {
      font-size: 15px;
      list-style: disc;
      list-style-position: inside;
    }
  }
  &.right {
    text-align: right;
    width: $right-width;
  }
  &.right li {
    font-size: 16px;
    line-height: $brief-right-list-height;
  }
  &.right li > img {
    width: 25px;
    line-height: $brief-right-list-height;
    vertical-align: middle;
    margin-left: 10px;
  }
}
