#brief > div {
  display: inline-block;
  vertical-align: middle;
  &.left {
    text-align: left;
    width: $left-width;
    & > h3 {
      // job title
      padding-bottom: 15px;
      padding-top: 10px;
      font-weight: normal;
      font-family: "Roboto Condensed", "Microsoft Yahei", sans-serif;
    }
    & > ul > li {
      // description
      font-size: 14px;
      list-style: disc;
      line-height: 22px;
      list-style-position: inside;
    }
  }
  &.right {
    text-align: right;
    width: $right-width;
  }
  &.right li {
    font-size: 13px;
    line-height: $brief-right-list-height;
    font-family: "Noto Serif", "Microsoft Yahei", serif;
  }
  &.right li > img {
    width: $icon-width;
    line-height: $brief-right-list-height;
    vertical-align: middle;
    margin-left: 10px;
  }
}
