#brief > div {
  display: inline-block;
  vertical-align: middle;
  // @include showBorder;
  &.left {
    text-align: left;
    width: $left-width;
    & > h3 {
      // job title
      padding-bottom: 15px;
      padding-top: 10px;
      font-weight: normal;
      font-family: "Roboto Condensed";
    }
    & > ul > li {
      // description
      font-size: 14px;
      list-style: disc;
      list-style-position: inside;
    }
  }
  &.right {
    text-align: right;
    width: $right-width;
  }
  &.right li {
    font-size: 13px;
    line-height: $brief-right-list-height;
    font-family: "Noto Serif";
  }
  &.right li > img {
    width: 25px;
    line-height: $brief-right-list-height;
    vertical-align: middle;
    margin-left: 10px;
  }
}
