#experiences {
  & > div.experience {
    // @include showBorder;
    // padding: 0 20px;
    // text-align: left;
    & > h5 {
      // job title
      font-size: 16px;
      padding-bottom: 6px;
      & + p {
        // company name
        font-weight: bold;
        font-size: 12px;
        padding-bottom: 2px;
        & + div {
          // time & address
          &::after {
            @include innerClearfix;
          }
          // @include showBorder;
          padding: 3px 0;
          & > span {
            font-size: 12px;
            font-style: italic;
            color: $time-color;
          }
          & > span:first-child {
            // time
            float: left;
            & + span {
              // address
              float: right;
            }
          }
          & + ul {
            // work descriptions
            &:hover {
              background-color: #fdfdfd;
            }
            & > li {
              padding: 3px 0;
              font-size: 13px;
              text-align: left;
              list-style: disc;
              list-style-position: inside;
            }
          }
        }
      }
    }
  }
}
