#projects {
  & > h3 + div.project ~ div.project {
    margin-top: $h3-title-bottom;
    // @include showBorder;
  }
  & > div.project {
    & > div:first-child {
      // * project title
      border-bottom: 1px solid #000000;
      padding-bottom: 6px;
      &::after {
        @include innerClearfix;
      }
      & > span {
        // common
        display: block;
        &:first-child {
          // title
          font-family: "Ropa Sans", "Microsof Yahei";
          float: left;
          & + span {
            // title value
            float: right;
            position: relative; // for link to show when hover
            font-weight: 900;
            vertical-align: middle;
            & > a {
              font-weight: normal;
              color: $github-link-color;
              font-size: 12px;
            }
          }
        }
      }
      & + div {
        // technologies
        text-align: left;
        > span {
          // tech as tag
          font-family: "Ropa Sans", "Microsof Yahei";
          display: inline-block;
          border-radius: 3px;
          margin: 0 6px;
          padding: 1px 8px;
          font-size: 13px;
          background-color: #eeeeee;
          &:first-child {
            margin-left: 0px;
          }
        }
        & + ul {
          // project descriptions
          & > li {
            text-align: left;
            padding: 3px 0;
            list-style: disc;
            list-style-position: inside;
            font-size: 13px;
            font-weight: 600;
            // @include showBorder;
          }
        }
      }
    }
  }
}
