* {
  padding: 0;
  margin: 0;
}
a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  text-align: center;
  min-width: 1300px;
}
.colorful {
  background: -webkit-linear-gradient(
      315deg,
      hsla(204.65, 93.22%, 47.2%, 1) 0%,
      hsla(204.65, 93.22%, 47.2%, 0) 70%
    ),
    -webkit-linear-gradient(65deg, hsla(209.78, 94.71%, 46.9%, 1) 10%, hsla(
            209.78,
            94.71%,
            46.9%,
            0
          )
          80%),
    -webkit-linear-gradient(135deg, hsla(194.87, 99.79%, 43.1%, 1) 15%, hsla(
            194.87,
            99.79%,
            43.1%,
            0
          )
          80%),
    -webkit-linear-gradient(205deg, hsla(71.77, 98.86%, 46.69%, 1) 100%, hsla(
            71.77,
            98.86%,
            46.69%,
            0
          )
          70%);
  background: linear-gradient(
      135deg,
      hsla(204.65, 93.22%, 47.2%, 1) 0%,
      hsla(204.65, 93.22%, 47.2%, 0) 70%
    ),
    linear-gradient(
      25deg,
      hsla(209.78, 94.71%, 46.9%, 1) 10%,
      hsla(209.78, 94.71%, 46.9%, 0) 80%
    ),
    linear-gradient(
      315deg,
      hsla(194.87, 99.79%, 43.1%, 1) 15%,
      hsla(194.87, 99.79%, 43.1%, 0) 80%
    ),
    linear-gradient(
      245deg,
      hsla(71.77, 98.86%, 46.69%, 1) 100%,
      hsla(71.77, 98.86%, 46.69%, 0) 70%
    );
}
#top {
  width: 66px;
  height: 66px;
  left: 1100px;
  // margin-left: 600px;
  top: 100px;
  display: none;
  position: absolute;
  user-select: none;
  background-color: #ffffff;
  text-align: center;
  line-height: 66px;
  border-radius: 20px;
}
